<paper-shadow id="content" z='3'>
	<P>Enter your receipt URL:</P>
	<paper-input label="Ex. www.yourreceipt.com"></paper-input>	
	<br>
	<p>Enter your receipt as plain text:</p>
	<paper-input-decorator layout vertical label="Add 5 teethspoon of suger...">
		<paper-autogrow-textarea>
			<textarea aria-label="with autogrowing text area"></textarea>
		</paper-autogrow-textarea>
	</paper-input-decorator>
	<paper-button raised class="colored" role='button'>Submit</paper-button>
</paper-shadow>

