<paper-shadow id="content" z='3'>
	<div id="home_wrapper">
		<P>Enter your recipe URL:</P>
		<paper-input-decorator layout vertical label="Ex. www.yourrecipe.com">
			<input id="url_rep">
		</paper-input-decorator>
		<br>
		<div style="text-align:center"> 
			<span style="width:40% ; display:inline-block"><hr id="divider"></span>
			<span>OR</span>
			<span style="width:40% ; display:inline-block"><hr id="divider"></span>
		</div>
		<p>Enter your recipe as plain text:</p>
		<paper-input-decorator layout vertical label="Add 5 teaspoons of suger...">
			<input id="text_rep">
		</paper-input-decorator>
		<span id="submit_rep_wrapper">
			<paper-button raised class="colored" role='button' id="submit_rep">Submit</paper-button>
		</span>
	</div>
</paper-shadow>

