<paper-shadow id="content" z='3'>
<!--	<h2>Show News Feed</h2>  -->
	   <div id="sample_nf">
	    <h4 class="newsfeedfont"> Steve Zhang shared an in-season cookie recipe <a href="http://allrecipes.com/recipe/blueberry-shortbread-bars/?prop24=hn_slide1_Blueberry-Shortbread-Bars&evt19=1">Blueberry Shortbread Bars</a> 
	    </h4>
	   	<p>Click to find out <span style="color:grey">3 hours ago</span></p>
		<div style="width:60% ; display:inline-block"><hr id="nfdivider"></div>
	   	<h4 class="newsfeedfont"> A facebook friend reviewed <a href="http://allrecipes.com/Recipe/BBQ-Chicken-Salad/Detail.aspx?evt19=1&referringHubId=649">BBQ Chicken Salad</a> 
	   	</h4>
	   	<p>Click to read more <span style="color:grey">2 days ago</span></p>
		<div style="width:60% ; display:inline-block"><hr id="nfdivider"></div>
	    <h4 class="newsfeedfont"> Ken Liao wrote a new entry in his own "Food Diary" on <a href="http://www.calorieking.com/tools/diary/">CalorieKing</a>
	    </h4>
	    <p>Login required <span style="color:grey">on May 29</span></p>

</paper-shadow>
