<paper-shadow id="content" z='3'>
	<h1>Show News Feed</h1>
	   <div id="sample_nf">
	    <h3> Steve Zhang shared an in-season cookie recipe <a href="http://allrecipes.com/recipe/blueberry-shortbread-bars/?prop24=hn_slide1_Blueberry-Shortbread-Bars&evt19=1">Blueberry Shortbread Bars</a> 
	    </h3>
	   	<p>Click to find out <span style="color:grey">3 hours ago</span></p>
	   	<br>
	   	<br>
	   	<h3> A facebook friend reviewed <a href="http://allrecipes.com/Recipe/BBQ-Chicken-Salad/Detail.aspx?evt19=1&referringHubId=649">BBQ Chicken Salad</a> 
	   	</h3>
	   	<p>Click to read more <span style="color:grey">2 days ago</span></p>
	   	<br>
	   	<br>
	    <h3> Ken Liao wrote a new entry in his own "Food Diary" on <a href="http://www.calorieking.com/tools/diary/">CalorieKing</a>
	    </h3>
	    <p>Login required <span style="color:grey">on May 29</span></p>


</paper-shadow>
