<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<paper-shadow id="content" z='3'>
	<div id="home_wrapper">
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Calories/100 g</td>
				<td>Healthiness</td>
			</tr>
			{{#each list_of_food}}
				<tr>
					<td>{{name}}</td>
					<td>{{calory}}</td>
					<td><button class={{health}} disabled>{{health}}</button></td>
				</tr>
			{{/each}}
		</table>
	</div>
	<div style="text-align:center">
		<paper-button raised class="colored" role='button' id="save_rep" style="inline-block">Save</paper-button>
	</div>
</paper-shadow>