<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<paper-shadow id="content" z='3'>
	<div id="home_wrapper">
	<img src="http://media.foodnetwork.ca/recipetracker/dmm/S/U/Surf_N__Turf_Kebabs_003.jpg", alt="Surf & Turf Kabobs", style="height :20vh; width : auto; display: block; margin-left : auto; margin-right : auto; margin-bottom: 3px;">
	  <table class="table">
	    <tr>
	    	<td>
		  <b>Sirloin Beef Barbequed Kabobs</b>
		</td>
		<td>
		  <paper-button raised id="show_rep" class="colored" role="button">View Calories Report</paper-button>
		</td>
	    </tr>
	    <tr>
	    	<td> Ingrdients </td>
	    	<td> Directions </td>
	    </tr>
	    <tr>
	    	<td> 
1 lb(s) Sirloin steak, trimmed and cubed (500g)<br>
1 red pepper
1 yellow pepper
1 green pepper<br>
½ cup store bought BBQ sauce (125ml)
¼ tsp Five Spice powder (1ml)<br>
½ cup pineapple juice (125ml)
24 pineapple chunks<br>
salt and freshly ground pepper
wooden skewers
</td>
	    	<td> 
1. Divide BBQ sauce in thirds. Reserve one third for brushing kabobs. Add Five Spice powder to one bowl and half of the pineapple juice to remaining sauce. Add meat to each bowl and marinate for 15 minutes, at room temperature. <br>
2. Soak skewers in water for 15 minutes.<br>
3. Heat indoor or outdoor grill to medium-high heat.<br>
4. Assemble beef kebabs<br>
5. Grill the kebabs, brushing with remaining sauce for 3-4 minutes per side, until cooked through to desired doneness. Season with salt and pepper.<br>
</td>
	    </tr>	    
	  </table> 
	</div>
</paper-shadow>





<script>
	$(function(){
		$('#show_rep').on('click',function(){
			$.ajax({
		   	  url : "/get-nutrient-fact-demo",
			  type : "post",
			  data : {},
			  success : function(data){
			    $('#body_wrapper').fadeOut("fast",function(){
                               $('#body_wrapper').html(data);
                               $('#body_wrapper').fadeIn("fast",function(){});
                            });
			  }
			});
		});
	});
</script>
