body {
  font-family: sans-serif;
  background-image: url('/img/background.jpg');
}
core-header-panel {
  background: white;
  max-height: 15vh;
}
#mainheader {
  background-color: white;
}

#secondary_header{
	background: transparent;
}

#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 310px;
	height : auto;
}

#tab1{
	background:#1E8FB1;
}

#tab2{
	background:#BCD53C ;
}

#tab3{
	background: #F0C72D;
}

#content{
	padding: 3%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	width: 80vw;
	height: 50vh;
	overflow: scroll;
	border: solid thin Lavender; 
	border-radius: 6px;
}

.colored{
	background: #03A9F4;
	color: white;
}

#submit_rep_wrapper{
	margin-left: 45%;
	margin-right: auto;
	margin-top: 20%;
}

#divider{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.healthy{
	background-color: #BCD53C;
	border: solid white thin;
	border-radius: 6px;
	color: white;
}